BOT_TOKEN=8385648324:AAEM9qby7H1Iv4nlH2WtJkkfErcuQu-GBf8
PORT=3001
DASHBOARD_URL=http://localhost:5173
# URL publique de la mini app (Codespace URL ou domaine de prod)
MINIAPP_URL=https://super-doodle-7jpwg56g4wphpp54-5174.app.github.dev
